<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Styles/AI.css">
    <title>Ants_Base</title>
</head>
<body>    
    <div class="header">
        <a style="text-decoration:none" href="#">Home Page</a>
    </div>
    <div class="main-activity">
        <div class="main-field">
            <canvas id="canvas"></canvas>
        </div>
        <div class="settings">
            <div class="brush_btns">
                <button class="brush" onclick="setNode()">Drow</button>
                <button class="brush" onclick="removeNode()">Clear</button>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
    <script src="../AI/Main.js"></script>
</body>
</html>