<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Styles/AStarView.css">
    <title>A-Star</title>
</head>
<body>    
    <div class="header">
        <a style="text-decoration:none" href="#">Home Page</a>
    </div>
    <div class="main-activity">
        <div class="main-field">
            <canvas id="matrix"></canvas>
        </div>
        <div class="settings">
        </div>
    </div>
    <div class="footer">
        <a style="text-decoration:none" href="#">By Qayum and Nia477</a>
    </div>
    <script src="../Code/LabyrinthCreator.js"></script>
</body>
</html>