<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="width: 1920px; height: 1080px; background-color: black;">
    <div style="width: 1920px; height: 1080px; background-color: rgb(0, 0, 0); display: flex; align-items: center; justify-content: center;">
        <button onclick="reset()"> reset</button>
        <canvas id="myCanv"></canvas>
        <input id="size" value="50"/>
    </div>
    
    <script src="../Code/test.js"></script>
</body>
</html>