<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="initial-scale=1.0">
    <title>Document</title>
</head>
<body style="width: 1920px; height: 1080px; background-color: rgb(70, 0, 92); padding: 0; margin: 0;">
    <div style="width: 1920px; height: 1080px; background-color: rgb(27, 0, 117); display: flex; align-items: center; justify-content: center;">
        <button onclick="reset()"> reset</button>
        <canvas id="myCanv"></canvas>
        <output id="current">Current lenght</output>
        <output id="/minimal">Minimal lenght</output>
    </div>
    
    <script src="../Code/test.js"></script>
</body>
</html>