body{
    background-color: #000910;
    min-width: 1920px;
    min-height: 1080px;
    margin: 0px;
    font-family: 'Fredoka', sans-serif;;
}
.header{
    background-color: #002541;
    min-height: 40px;
    min-width: 1920px;
    height: 40px;
    font-size: 30px;
}
.main-activity{
    display: flex;
}
.main-field{
    min-width: 1590px;
    min-height: 990px;
    width: 1590px;
    height: 990px;
    padding: 5px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.settings{
    background-color: #00457a;
    min-width: 320px;
    min-height: 1000px;
    width: 320px;
    height: 1000px;
}
.footer{
    background-color: #002541;
    min-height: 40px;
    min-width: 1920px;
    height: 40px;
    font-size: 30px;
}